.App {
  text-align: center;
  margin-top: 10px;
  margin: 50px 200px;
  font-size: 20px;
}

.board {
  margin-top: 50px;
  align-items: center;}

.button {
  border-radius: 0;
  font-size: 30px;
  background-color: rgb(134, 215, 97);
  width: 100px;
  height: 100px;
}

.button:hover {
  background-color: #5ea8f7;
}